

<div id="search" class="input-group header-search-box animated fadeInLeft ">

	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search-input form-control input-lg header-search-field" autocomplete="off"/>
	<button class="search_icon_top header-search-btn" style="z-index:99999;">
		<i class="pe-7s-search"></i>
	</button>

</div>

