
.zoom-img {
  width: 600px;
  overflow: hidden;
}
.m-0{
  margin: 0px;
}

.mt-30{
  margin-top: 30px;
}

.mt-50{
  margin-top: 50px;
}
.v-center{
  display: flex;
  align-items: center;
}

.zoom-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
 -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
   overflow: hidden;
}

.zoom-img img:hover {
 -webkit-transform: scale(1.08);
  transform: scale(1.08);
   
    overflow: hidden;
  
}
.serv-name1{
    color: black;
    font-weight: 700;
    font-size: 24px;
  }
  .serv-name2{
    position: absolute;
    right: 5%;
    top: 4%;
    background: #582254;
    color: white;
    padding: 3px 25px;
  }
  .hb::after {
    
    text-align: -webkit-center;

    content: "";
    position: initial;
    display: block;
    width: 80px;
    height: 4px;
    margin-top: 10px;
    background: #582254;
    bottom: 0;
    left: calc(50% - 20px);
}

.subscribe-box {
  height: 38px;
  padding-left: 5px;
  border: thin solid #582254 !important;
  margin-top: -10px;
  border-right: none !important;
  float: left;
  color: #fff;
  outline: none !important;
  margin-bottom: 10px;
}

@media (max-width:700px){
  .subscribe-box {
    width: calc(100% - 50px);
  }
  .hide_phone {
    display: none !important;
  }
  .hide-desktop {
    display: block !important;
  }

}

.subscribe-btn {
  height: 38px;
  border: thin solid #582254 !important;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 11px;
  background: #582254;
  color: #fff;
  border-left: none !important;
  width: 50px;
  margin-top: -10px;
  float: left;
}

.eapps-instagram-feed-posts-grid-load-more-text, .eapps-instagram-feed-posts-grid-load-more-container{
  display: none !important;
}

.description{
  font-size: 14px;
}

.product_name{
  text-transform: capitalize;
  margin-top: 10px;
  font-size:14px;
}

.p-10{
  padding: 10px;
}

.product_price{
  font-size: 14px;
  font-weight: 500;
 
}

.product-card{
  margin-bottom: 20px;
}

.shop_by_category{
  background-color: #DEECDD;
  padding: 80px 0px;
 
}

.img-top-element{
  position: absolute;
    right: 0px;
    width: 150px;
    margin-top: -80px;
}

.img-bottom-element{
    position: absolute;
    left: 0px;
    width: 120px;
    margin-top: 310px;
    transform: rotate(190deg);
  }

  .ptb-50{
    padding-top: 50px ;
    padding-bottom: 50px;
  }
  .rose-element{
    width: 60px;
  }
  .b1{
    max-width: 80%;
  }

  .btn-primary{
    background-color: #582254;
    color: #FBCACD;
    border-radius: 0px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }

  .btn-primary:hover{
    background-color: #FBCACD;
    color: #582254 ;
   
  }

/******common cart styles*******/
.cart{
  width:300px;
  position: fixed;
  right:-300px;
  top:0px;
  height:100vh;
  background:#fff;
  z-index: 999;
  }
  .cart_backdrop{
  background:rgb(0,0,0,0.5);
  width:100%;
  height:100vh;
  position: fixed;
  top:0px;
  display: none;
  left:0px;
  z-index: 99;
  }
  .cart-header{
  background:#fbcacd;
  padding:15px 10px;
  color:#582254;
  }
  .cart-item{
  font-family:"Lato", sans-serif;
  font-size:11px;
  color:#582254;
  }
  .cart-close{
  float:right;
  margin-top:-17.5px;
  cursor:pointer;
  }
  .cart-footer{
   position: fixed;
   bottom:0px;
   width:300px;
   background:#f1f1f1;
  }
  .cart-checkout{
   width:100% !important;
  }
  .view-cart-btn{
   width:280px;
   background-color:transparent;
   color:#582254;
   border:thin solid #582254;
   margin:10px;
  }

  .cart-body{
    height: calc(100vh - 200px);
    padding-top:10px;
    overflow-y:auto;
  }
  .img-empty-cart{
    width:90px;
    margin-top:25vh;
    opacity: 0.3;
  }
  .remove-cart-item{
   position: absolute;
   right:10px;
   top:2px;
   cursor:pointer;
  }